/* 与整体布局有关的样式 */

section,
header,
article,
nav {
  display: block;
}
* {
  padding: 0;
  margin: 0;
}

/* em单位为一个相对的度量单位，它通过寻找父标签的font-size。然后通过计算得出自身的font-size。利用em单位设置便签的width或者height等属性原理也一样。 */
body {
  margin: 1em 10%;
  background-image: url(../images/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}
header {
  background-image: url(../images/guitarist.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: 0.1em;
  border-style: solid;
  border-bottom-width: 0;
}
header nav {
  background-image: url(../images/navbar.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: 0.1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}
header nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: 0.1em;
  border-left-style: solid;
}
header nav li {
  display: inline;
}
header nav li a {
  display: block;
  float: left;
  padding: 0.5em 2em;
  border-right: 0.1em solid;
}
article {
  border-width: 0.1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}
article img {
  border-width: 0.1em;
  border-style: solid;
  outline-width: 0.1em;
  outline-style: solid;
}

/* 每个页面的不同图像 */
#about header {
  background-image: url(../images/lineup.gif);
}
#photos header {
  background-image: url(../images/basshead.gif);
}
#live header {
  background-image: url(../images/bassist.gif);
}
#contact header {
  background-image: url(../images/drummer.gif);
}

/* * index页面 slideshow */
#slideshow {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
#frame {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 99;
}
#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}

/* * Photos 页面 */
#imagegallery li {
  display: inline;
}

/* * live 页面 */
td {
  padding: 0.5em 3em;
  text-align: center;
}
dl {
  overflow: hidden;
}
dt {
  float: left;
}

/* * contact 页面 */
label {
  display: block;
}
fieldset {
  border: 0;
}
